
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Padauk:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

/* @import "flowbite/src/themes/default"; */

@plugin "flowbite/plugin";


@import "tailwindcss";


:root {
  --font-sans: 'Inter','Padauk', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}
.font-Inter {
  font-family: 'Inter', sans-serif;
}